@font-face {
    font-family: 'Pretendard_Bold';
    src: url('./Pretendard-Bold.otf') format('truetype');
  }
  
  @font-face {
    font-family: 'Pretendard_SemiBold';
    src: url('./Pretendard-SemiBold.otf') format('truetype');
  }
  
  @font-face {
    font-family: 'Pretendard_Medium';
    src: url('./Pretendard-Medium.otf') format('truetype');
  }
  
  @font-face {
    font-family: 'Pretendard_Regular';
    src: url('./Pretendard-Regular.otf') format('truetype');
  }
  
  @font-face {
    font-family: 'Pretendard_Light';
    src: url('./Pretendard-Light.otf') format('truetype');
  }
  