.Layout{
    display: flex;
    font-size: 16px;
    font-family: 'Pretendard_Regular';
}
.textsss{
    display: flex;
    gap: 12px;
}
.ps{
    width:32px;
}
.club_name{
    width: 520px;
}
.logosssss{
    width: 20px;
    height: 20px;
    margin-right: 24px;
}
.rankss{
    margin-right: 8px;
    width: 20px;
}