.header_full{
    border-bottom: 1px solid #DFDFDF;
    background: #FFF;
    width: 100vw;
    height: 5.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_container{
    display: flex;
    width: 54.25rem;
    height: 3.625rem;
    justify-content: space-between;
    align-items: end;
}
.header_atags{
    display: flex;
    gap: 1.625rem;
    
}
.header_atags>a{
    text-decoration: none;
    color: #000000;
    font-size: 1.25rem;
    font-family: 'Pretendard_Medium';
}