.header_full{
    border-bottom: 1px solid #DFDFDF;
    background: #FFF;
    width: 100%;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_container{
    display: flex;
    width: 868px;
    height: 58px;
    justify-content: space-between;
    align-items: end;
}
.header_atags{
    display: flex;
    gap: 26px;
    
}
.header_atags>a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: 'Pretendard_Medium';
}